*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("/image/test.jpg");
}
h2{
    color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
span{
    color: crimson;
}
.box{
    width: 400px;
    height: 50px;
    position: relative;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    filter: blur(0px);
}
form img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
form{
    padding: 90px 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px black;
    border-radius: 10px;
}

.under-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.under-box a{
    text-decoration: none;
    color: rgb(145, 145, 145);
    transition: 200ms;
}

.under-box a:hover{
    color: rgb(73, 73, 73);
    transition: 200ms;
}

.box i{
    width: 50px;
    height: 48px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top:0;
    right: 0;
}
.box .fa-lock{
    background: rgb(0, 187, 171);
    left: 0;
    color: white;
    border-radius: 3px;
}
.box .fa-eye{
    color: rgb(0, 165, 151);;
    font-size: 1.2em;
    cursor: pointer;
    display: none;
}
.box .fa-eye.hide::before{
    content: '\f070';
}
.box input{
    width: 100%;
    height: 100%;
    padding: 0 55px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 3px;
}
.box input::placeholder{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #0005;
}
#pass:valid ~ .fa-eye{
    display: block;
}
input[type="submit"]{
    width: 100px;
    height: 40px;
    background: rgb(0, 165, 151);
    border: none;
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: 400ms;
}

input[type="submit"]:hover{
    background: rgb(0, 134, 123);
    transition: 400ms;
}